<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

<!-- 
  @Input
  La forma en que envío datos desde un componente padre a otro componente hijo.
  El decorador sirve para declarar las props.

  @Output
  La forma en que se envía información y transmitir vento desde el hijo hacia el padre
-->
<!-- <h1>Uso de @Input</h1>

<p><input type="text" [(ngModel)]="imgParent" /></p>

<button (click)="toggleImage()" [disabled]="!showImage">Delete image</button>
<app-image
  *ngIf="showImage"
  (loaded)="onImageLoaded($event)"
  [image]="imgParent"
></app-image>
<p>{{ showImage }}</p>
<hr />
<hr /> -->

<app-nav></app-nav>
<app-products></app-products>
<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->