/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url(./styles/reset.css);

* {
  font-family: "Tilt Neon", cursive;
  font-size: 20px;
  font-weight: lighter;
}

.products--grid {
  app-product {
    app-image {
      img {
        border-radius: 10px;
      }
    }
  }
}
